<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Card</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

    <h2>Add Card</h2>

    <form th:action="@{'/cards/add/' + ${userId}}" th:object="${card}" method="post">

        <label>Card Number:</label>
        <input type="text" th:field="*{cardNumber}" required>

        <label>Type:</label>
        <select th:field="*{type}">
            <option value="DEBIT">Debit Card</option>
            <option value="CREDIT">Credit Card</option>
        </select>

        <label>Balance:</label>
        <input type="number" step="0.01" th:field="*{balance}" required>

        <button type="submit" class="btn-main success-btn">Add Card</button>

    </form>

</div>

</body>
</html>
